:root {
  --antiflash-white: #e9eff2ff;
  --antiflash-white-2: #f5fafbff;
  --celestial-blue: #0897daff;
  --rich-black: #071317ff;
  --black: #050707ff;
  --glow-color: #0897daff;
  --border-radius: 15px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --font-family: Arial, sans-serif;
  --spacing-small: 14px; /* 20px */
  --spacing-medium: 16px; /* 24px */
  --spacing-large: 32px; /* 32px */
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--antiflash-white-2);
  background-color: var(--black);
}

.sidebar {
  position: fixed;
  top: var(--spacing-small);
  left: 20px;
  max-width: 250px;
  max-height: max-content;
  background-color: var(--rich-black);
  color: var(--antiflash-white);
  padding: 1em;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: 0 0 5px var(--glow-color);
  transition: box-shadow 0.3s ease-in-out;
}

.sidebar:hover {
  box-shadow: 0 0 10px var(--glow-color);
}
.sidebar-info {
  text-align: center;
  margin-bottom: var(--spacing-medium);
}

.avatar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-medium);
}

.redius {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px var(--glow-color);
}

.name {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  color: var(--antiflash-white);
}

.title {
  display: inline-block;
  background-color: var(--celestial-blue);
  color: var(--antiflash-white-2);
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.separator {
  border-top: 1px solid var(--antiflash-white);
  margin: var(--spacing-medium) 0;
}

.contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-medium);
}

.icon-box {
  width: 30px;
  height: 30px;
  background-color: var(--celestial-blue);
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.contact-title {
  font-size: 0.9em;
  color: var(--antiflash-white);
  margin-bottom: 5px;
}

.contact-link {
  color: var(--antiflash-white);
  text-decoration: none;
  font-size: 0.9em;
}

.contact-info p {
  margin: 0;
  font-size: 0.9em;
  color: var(--antiflash-white-2);
}

.main-content {
  margin-left: 290px;
  margin-right: 20px;
  scroll-behavior: smooth;
  background-color: var(--rich-black);
  margin-top: var(--spacing-small);

  border-radius: var(--border-radius);
  box-shadow: 0 0 5px var(--glow-color);
  transition: box-shadow 0.3s ease-in-out;
  max-width: 80vw;
}
.main-content:hover {
  box-shadow: 0 0 10px var(--glow-color);
}

.top-bar {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.current-page {
  padding: var(--spacing-small);
}

.aboutme-text {
  font-size: 1.5625em;
  padding: 0;
  margin: 0;
  color: var(--antiflash-white-2);
}

.text-downline {
  background-color: var(--celestial-blue);
  border-radius: var(--border-radius);
  width: 1.25em;
  height: 0.3125em;
}

nav {
  display: flex;
  height: 1.5625em;
  justify-content: space-between;
  background-color: var(--black);
  padding: 0.625em;
  border-radius: 0 var(--border-radius) 0 var(--border-radius);
  box-shadow: 0 0 5px var(--glow-color);
}

nav a {
  color: var(--antiflash-white);
  text-decoration: none;
  padding: 0 1.25em;
}

nav a:hover {
  border-radius: var(--border-radius);
  background-color: var(--celestial-blue);
}

nav a:active {
  color: var(--rich-black);
}

section {
  margin: var(--spacing-small);
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.card {
  border: 1px solid var(--antiflash-white);
  margin: 1px;
  border-radius: 10px;
  width: 300px;
  aspect-ratio: 16/9;
  background-color: var(--rich-black);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  box-shadow: 0 0 5px var(--glow-color);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px var(--glow-color);
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

section {
  min-height: 90vh;
}
